<% content_for :title do %>Pua'ikeana | Our Team <% end %>
<style>
tr{border-collapse:separate; border-spacing:5em;}
td{padding-left:5em}

</style>
<body>
<div class="teams index">
	<h1>PUA'IKEANA'S EXECUTIVE BOARD</h1>
	<% @teams.each do |team| %>
		<table>
			<tr class="spacer">
			<td>
				
				<img src="<%= image_path(team.photo_path)%>" width=200 height=400>
			</td>
			<td>
				<h4><%= team.position %></h4>
				<%= team.name%><br>
				<%= team.major%><br>
				<%= team.year_standing%>
			</td>
		</tr>
		<br>
		</table>
	<% end %>

</div>
</body>
